* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: #b3e5fc;
    color: #000;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.login-container {
    padding: 20px;
    width: 400px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #00274a;
    border-radius: 5px;
    background-color: #b3e5fc; 
}

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.choose-button {
    padding: 10px 20px;
    background-color: #b3e5fc;
    color: #000;
    border: 2px solid #00274a;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover, .choose-button:hover {
    background-color: #6692a7;
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #b3e5fc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
